{% extends "mobile.html" %}
{% load static %}
{% block title %}Chekout{% endblock %}

{% block content %}
<style>
    input[type=number]::-webkit-inner-spin-button,
       input[type=number]::-webkit-outer-spin-button {
           -webkit-appearance: none;
           margin: 0;
       }
   </style>

<!-- Adicione a div do spinner -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Carregando...</p>
                <div class="spinner"></div>
                <!-- Ou use a classe 'glyphicon-refresh' para um ícone de spinner específico -->
            </div>
        </div>
    </div>
</div>

<div class="row" style=" margin: 200px;">
    <div id="container_compra__div" style="display: none;">
        <div class="col-xs-12 col-md-6" id="conteudo_dinamico_compra__div">             
            <div class="col-xs-12 col-md-6" id="conteudo_forma_pagamento__div">                
                <div class="panel panel-default">                    
                    <p>Contanainer Compra</p>                    
                    <div class="panel-body">                       
                        <p>POsso colocar uma imagem aqui</p>                         
                    </div>
                </div>      
            </div>          
        </div>
        <div class="col-xs-12 col-md-6" style="width: 45rem;">        
                
        </div>
    </div>

    <div id="container_pagamento__div">
        <div class="col-xs-12 col-md-6">        
            <div id="finalizando-pix__div">
                <!-- <h1>Container de Pagamento</h1>
                <p>Finalizando com: PIX <img src="{% static 'img/logo-pix.png' %}" alt="" style="width: 2rem;"></p> -->
                <div class="panel panel-default">
                    <img src="{{ caminho_qrcode }}" alt="QR Code">
                    <div class="panel-body">                       
                            <div class="card">                        
                                <p>Seu codigo expira em </p>
                                <p>00:00:15 </p>
                                <p id="codigoPix">
                                    {{ payload }}
                                </p>
                                <button onclick="copiarCodigo()" id="button_pix">COPIAR CODIGO</button>
                            </div>
                    </div>
        
                    <div class="panel-footer">
                        <span><b>Total a pagar por <span>{{ quantidade }}</span> cupons</b></span>
                        <span id="total_pagar_final">R$ {{total}}</span>
                    </div>
                </div>        
                 
            </div>              
        </div>
        <div class="col-xs-12 col-md-6" style="width: 45rem;">        
            <!-- <div class="panel panel-default" id="compre_cupons__div">     
                <div class="panel-body">
                    <p>Compre seus cupons</p>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" 
                            id="diminui__button" type="button" onclick="alterarQuantidade(-1)" style="size: 15px;">-</button>
                        </span>
                    <input class="form-control"  type="number" value="0"  name="quantidade" id="quantidade__input" min="0" step="1" oninput="atualizar_valor()">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="aumenta__button" onclick="alterarQuantidade(1)" type="button">+</button>
                        </span>    
                    </div>                    
                    <ul class="list-group">                    
                        <li class="list-group-item">
                            <span class="badge" id="total__badge">R$ 00,00</span>
         
                            <b>Total</b>
                        </li>
                    </ul>
                    <form method="post" onsubmit="return pagamento();">
                        {% csrf_token %}
                        <button class="btn btn-primary">Pagar</button>
                    </form>
                </div> -->
                <div class="panel panel-default" id="resumo_pagamento__div" style="display: none;">     
                    <div class="panel-body">               
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge" id="quantidade__badge">0</span>
                                Quantidade
                            </li>
                            <li class="list-group-item">
                                <span class="badge">50</span>
                                Valor Unitario
                            </li>
                            <li class="list-group-item">
                                <span class="badge" id="total__badge_resumo">R$ 00,00</span>
             
                                <b>Total</b>
                            </li>
                        </ul>                    
                    </div>            
                </div>          
        </div>
    </div>   
</div>

<script>
    function copiarCodigo() {
        // Seleciona o elemento que contém o código PIX
        var codigoPixElement = document.getElementById('codigoPix');

        // Cria um elemento de área de texto temporário
        var inputTemporario = document.createElement('textarea');
        inputTemporario.value = codigoPixElement.innerText;

            // Adiciona o elemento temporário à página
        document.body.appendChild(inputTemporario);

        // Seleciona o conteúdo do elemento de área de texto
        inputTemporario.select();
        inputTemporario.setSelectionRange(0, 99999); // Para dispositivos móveis

        // Copia o conteúdo para a área de transferência
        document.execCommand('copy');

        // Remove o elemento de área de texto temporário
        document.body.removeChild(inputTemporario);

        // Altera o texto do botão para 'COPIADO'
        var botaoCopiar = document.getElementById('button_pix');
        botaoCopiar.textContent = 'COPIADO';
        botaoCopiar.disabled = true; // Opcional: Desativa o botão após clicar

        // Exibe uma mensagem ou realiza outras ações conforme necessário
        alert('Código copiado para a área de transferência!');
    }



   function atualizar_valor(){
        let quantidade_input = document.getElementById('quantidade__input')

        let valor = parseFloat(quantidade_input.value)

        if (isNaN(valor) || valor < 0) {
                alert("Por favor, insira um valor positivo.");
                quantidade_input.value = 0;
                return;
        }

        let valorMultiplicado = valor * 50

        let = quantidade_badge = document.getElementById('quantidade__badge')
        quantidade_badge.textContent = valor

        let total_pagar_quantidade = document.getElementById('total_pagar_quantidade')

        let total__badge_resumo = document.getElementById('total__badge_resumo')

        total_pagar_quantidade.textContent = valor

        var valorFormatado = valorMultiplicado.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });

        var resultadoSpan = document.getElementById("total__badge");

        resultadoSpan.textContent = valorFormatado;

        let total_pagar_final = document.getElementById('total_pagar_final')
        total_pagar_final.textContent = valorFormatado

        total__badge_resumo.textContent = valorFormatado
    }

    function alterarQuantidade(delta){
        let quantidade_input = document.getElementById('quantidade__input')

        let valor = parseInt(quantidade_input.value) + delta

        if (valor < 1 ){
            // alert('Quantidade nao pode ser negativa')
            return;
        }

        quantidade_input.value = valor

        atualizar_valor()
    }

    function mostraFinalizandoPix() {
        
        
        let finalizandoPix = document.getElementById('finalizando-pix__div');
        finalizandoPix.style.display = 'none';

        // return false
    }

    function pagamento() {
    // Lógica de pagamento, se necessário
    let valorTotalText = document.getElementById('total__badge').textContent.trim();
    let valorTotal = parseFloat(valorTotalText.replace('R$', '').replace(',', '.'));

    if (!isNaN(valorTotal) && valorTotal > 0) {
        // Troca para a div finalizandoPix
        carregarFormaPagamento();
    } else {
        // Mostre uma mensagem ou tome a ação apropriada quando o valor total for 0 ou NaN
        alert('Quantidade inválida');
    }

    return false

    }

    function carregarFormaPagamento() {
        let container_pagamento = document.getElementById('container_pagamento__div');
        container_pagamento.style.display = 'block';
        let container_compra =  document.getElementById('container_compra__div')
        container_compra.style.display = 'none'

    
    
    }
        
</script>

{% endblock %}

    
    




